Repository JonTK/slurm-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fast, go-fmt, go-mod-tidy, spdx-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint-fast
        name: golangci-lint (fast)
        entry: make lint-fast
        language: system
        types: [go]
        pass_filenames: false

      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]

      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$

      - id: spdx-check
        name: SPDX License Headers
        entry: bash -c 'scripts/check-spdx-headers.sh'
        language: system
        types: [go]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (\.md$|\.patch$|\.diff$)
      - id: end-of-file-fixer
        exclude: (\.md$|\.svg$)
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

fix(security): address Dependabot security vulnerabilities
  .github/workflows/docs.yml
  go.mod
  go.sum
Due: go-mod-tidy

fix(security): address Dependabot security vulnerabilities (#9)
  .github/workflows/docs.yml
  go.mod
  go.sum
Due: go-mod-tidy

feat: enable Phase 3 linters (goconst, godox, revive)
  .golangci.yml
Due: none

fix: remove invalid goconst configuration fields
  .golangci.yml
Due: none

fix: resolve all Phase 3 linting issues (goconst and godox)
  internal/collector/access_validation.go
  internal/collector/account_cost_tracking.go
  internal/collector/bottleneck_analyzer.go
  internal/collector/cluster_simple.go
  internal/collector/constants.go
  internal/collector/efficiency_calculator.go
  internal/collector/energy_monitor.go
  internal/collector/job.go
  internal/config/config.go
  internal/metrics/labels.go
  internal/server/server.go
  internal/slurm/auth/auth.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: correct quoted constant references causing test failures
  internal/collector/bottleneck_analyzer.go
  internal/collector/energy_monitor.go
  internal/collector/job.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: format job.go map alignment with gofmt
  internal/collector/job.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: add .lycheeignore to suppress expected broken links
  .github/workflows/docs.yml
  .lycheeignore
Due: none

fix: add all missing links to .lycheeignore
  .lycheeignore
Due: none

fix: add security-configuration.md to .lycheeignore
  .lycheeignore
Due: none

fix: add security advisories URLs to .lycheeignore
  .lycheeignore
Due: none

feat: enable Phase 3 linters (goconst, godox, revive)
  .github/workflows/docs.yml
  .golangci.yml
  .lycheeignore
  internal/collector/access_validation.go
  internal/collector/account_cost_tracking.go
  internal/collector/bottleneck_analyzer.go
  internal/collector/cluster_simple.go
  internal/collector/constants.go
  internal/collector/efficiency_calculator.go
  internal/collector/energy_monitor.go
  internal/collector/job.go
  internal/config/config.go
  internal/metrics/labels.go
  internal/server/server.go
  internal/slurm/auth/auth.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: enable Phase 4 complexity linters
  .golangci.yml
Due: none

refactor: reduce complexity in jobs_simple collector
  internal/collector/jobs_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

refactor: remove jobs_simple complexity exclusions
  .golangci.yml
Due: none

feat: enable Phase 4 complexity linters with jobs_simple refactoring
  .golangci.yml
  internal/collector/jobs_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

refactor: reduce repetition in job.collectActiveJobs
  internal/collector/job.go
Due: golangci-lint-fast, go-fmt, spdx-check

refactor: reduce complexity in registry.CreateCollectorsFromConfig
  .golangci.yml
  internal/collector/registry.go
Due: golangci-lint-fast, go-fmt, spdx-check

refactor: reduce complexity in access_validation.collectRiskAssessmentMetrics
  .golangci.yml
  internal/collector/access_validation.go
Due: golangci-lint-fast, go-fmt, spdx-check

test: improve coverage for internal/slurm package (19.7% → 36.8%)
  internal/slurm/client_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

config: tighten complexity linter thresholds for Phase 5
  .golangci.yml
Due: none

refactor: reduce complexity in accounts_simple.collect
  internal/collector/accounts_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

refactor: simplify associations_simple.collect using helper methods
  internal/collector/associations_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

chore: remove linter exclusions for refactored collectors
  .golangci.yml
Due: none

refactor: reduce complexity in UserCollector.collectAccountStats
  internal/collector/user.go
Due: golangci-lint-fast, go-fmt, spdx-check

chore: remove linter exclusion for refactored collectAccountStats
  .golangci.yml
Due: none

chore: simplify linter exclusion patterns
  .golangci.yml
Due: none

refactor: reduce complexity in handleDebugPerformance
  internal/server/server.go
Due: golangci-lint-fast, go-fmt, spdx-check

refactor: reduce complexity in collectPartitionInfo
  internal/collector/partition.go
Due: golangci-lint-fast, go-fmt, spdx-check

refactor: reduce complexity in handleGetProfile
  internal/server/profiling_debug.go
Due: golangci-lint-fast, go-fmt, spdx-check

refactor: reduce complexity in GenerateHelmChart
  internal/metrics/docgen.go
Due: golangci-lint-fast, go-fmt, spdx-check

chore: remove linter exclusions for refactored functions
  .golangci.yml
Due: none

fix: format accounts_simple.go struct field alignment
  internal/collector/accounts_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

refactor: reduce code complexity and improve test coverage (Phase 5)
  .golangci.yml
  internal/collector/access_validation.go
  internal/collector/accounts_simple.go
  internal/collector/associations_simple.go
  internal/collector/job.go
  internal/collector/partition.go
  internal/collector/registry.go
  internal/collector/user.go
  internal/metrics/docgen.go
  internal/server/profiling_debug.go
  internal/server/server.go
  internal/slurm/client_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

docs: add Contributor Covenant 3.0 Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

docs: add agent guidelines and bd workflow documentation
  AGENTS.md
Due: none

test: Enable context linters and improve slurm test coverage
  .golangci.yml
  internal/slurm/client_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: enable gocritic linter with pragmatic configuration
  .gitignore
  .golangci.yml
  cmd/slurm-exporter/main.go
  internal/collector/common_types_test.go
  internal/collector/efficiency_calculator_test.go
  internal/collector/metric_filter_test.go
Due: golangci-lint-fast, go-fmt, spdx-check
