Repository JonTK/slurm-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fast, go-fmt, go-mod-tidy, spdx-check

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: make lint-fast
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

spdx-check:
  name: SPDX License Headers
  entry: bash -c 'scripts/check-spdx-headers.sh'
  language: system
  pass_filenames: false

chore: Remove accidentally tracked file named '2'
  2
Due: none

feat: Upgrade to slurm-client v0.2.1 with adapter pattern support
  go.mod
  go.sum
  internal/slurm/client.go
Due: golangci-lint-fast, go-fmt, go-mod-tidy, spdx-check

test: Update test expectations to match new defaults and configurations
  internal/config/config_test.go
  internal/metrics/cardinality_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Resolve golangci-lint issues
  internal/collector/performance_simple.go
  test/integration/adapter_autodetection_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Update release workflow to create PR for documentation updates instead of pushing directly
  .github/workflows/release.yml
Due: none

fix: Resolve actions/checkout and peter-evans/create-pull-request conflict in release workflow
  .github/workflows/release.yml
Due: none

fix: Add missing pull-requests and id-token permissions to release workflow
  .github/workflows/release.yml
Due: none

feat: migrate slurm-exporter to use local slurm-client API changes
  internal/batch/batch_integration.go.disabled
  internal/collector/accounts_simple.go
  internal/collector/associations_simple.go
  internal/collector/bottleneck_analyzer.go.disabled
  internal/collector/clusters_simple.go
  internal/collector/diagnostics_simple.go
  internal/collector/efficiency_calculator.go
  internal/collector/energy_monitor.go.disabled
  internal/collector/energy_monitor.go.sedbackup
  internal/collector/job_analytics_engine.go.disabled
  internal/collector/jobs_simple.go
  internal/collector/licenses_simple.go
  internal/collector/nodes_simple.go
  internal/collector/partitions_simple.go.disabled
  internal/collector/performance_simple.go.disabled
  internal/collector/qos.go.disabled
  internal/collector/quota_compliance.go.disabled
  internal/collector/registry.go
  internal/collector/reservation.go.disabled
  internal/collector/reservation_utilization.go.disabled
  internal/collector/shares_simple.go.disabled
  internal/collector/tres_simple.go.disabled
  internal/collector/users_simple.go.disabled
  internal/testutil/fixtures/jobs.go
  internal/testutil/fixtures/nodes.go
  internal/testutil/fixtures/partitions.go
  internal/testutil/generators.go
  internal/testutil/mock_slurm_client.go
Due: golangci-lint-fast, go-fmt, spdx-check

test: Disable collector tests with outdated API fixtures
  internal/collector/accounts_simple_test.go.disabled
  internal/collector/associations_simple_test.go.disabled
  internal/collector/clusters_simple_test.go.disabled
  internal/collector/diagnostics_simple_test.go.disabled
  internal/collector/job_performance_test.go
  internal/collector/job_performance_test.go.disabled
  internal/collector/licenses_simple_test.go.disabled
  internal/collector/nodes_simple_test.go.disabled
  internal/collector/partitions_simple_test.go.disabled
  internal/collector/performance_simple_test.go.disabled
  internal/collector/qos_test.go.disabled
  internal/collector/reservation_test.go.disabled
  internal/collector/shares_simple_test.go.disabled
  internal/collector/system_simple_test.go.disabled
  internal/collector/tres_simple_test.go.disabled
  internal/collector/users_simple_test.go.disabled
  internal/collector/wckeys_simple_test.go.disabled
  internal/testutil/mocks/mock_slurm_client_interface.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix(lint): Update wrapcheck ignore-sigs for new slurm-client API structure
  .golangci.yml
Due: none

feat: Re-enable TRES, Shares, and Partitions collectors for new API
  internal/collector/partitions_simple.go
  internal/collector/partitions_simple_test.go
  internal/collector/registry.go
  internal/collector/shares_simple.go
  internal/collector/shares_simple_test.go
  internal/collector/tres_simple.go
  internal/collector/tres_simple_test.go
  internal/testutil/fixtures/partitions.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Re-enable Reservation, QoS, and Users collectors for new API
  internal/collector/qos.go
  internal/collector/qos_test.go
  internal/collector/registry.go
  internal/collector/reservation.go
  internal/collector/reservation_test.go
  internal/collector/users_simple.go
  internal/collector/users_simple_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Update slurm-client to use commit 5a5c089 instead of local replace
  go.mod
  go.sum
Due: go-mod-tidy

fix(lint): Remove unused code and fix duplicate conditions
  internal/collector/accounts_simple.go
  internal/collector/associations_simple.go
  internal/collector/jobs_simple.go
  internal/collector/partitions_simple.go
  internal/collector/reservation.go
  internal/testutil/generators.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Remove duplicate collection per scrape (P0)
  internal/server/server.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Use UserName instead of UserID for job stats lookup (P1)
  internal/collector/users_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Convert job memory from MB to bytes (P2)
  internal/collector/jobs_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Use actual job NodeCount instead of hardcoded 1 (P2)
  internal/collector/jobs_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Use actual job Account and QoS instead of defaults (P2)
  internal/collector/jobs_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Replace partition metrics placeholders with real data (P1)
  internal/collector/partitions_simple.go
  internal/collector/partitions_simple_test.go
  internal/testutil/fixtures/jobs.go
  internal/testutil/fixtures/nodes.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Replace system collector simulated values with real data (P1)
  internal/collector/system_simple.go
  internal/collector/system_simple_helpers_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Extract QoS resource limits from TRES instead of using 0 (P1)
  internal/collector/qos.go
  internal/collector/qos_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Use real node allocation data instead of heuristics (P2)
  internal/collector/nodes_simple.go
  internal/collector/nodes_simple_test.go
  internal/testutil/fixtures/nodes.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Align performance collector config default with registry (P2)
  internal/config/config.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Parse port from address for health check URL (P2)
  internal/server/server.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: CI failures - remove unused function and add Windows support
  internal/collector/jobs_simple.go
  internal/collector/system_simple.go
  internal/collector/system_simple_linux.go
  internal/collector/system_simple_windows.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Address linter warnings (protogetter, wrapcheck)
  internal/collector/nodes_simple_test.go
  internal/collector/system_simple_linux.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Last protogetter warning in nodes_simple_test.go
  internal/collector/nodes_simple_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Add Darwin/macOS support for disk usage
  internal/collector/system_simple_darwin.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Skip disk usage test on Windows platform
  internal/collector/system_simple_helpers_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Update test to expect Performance collector disabled by default
  internal/config/config_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

style: Format Go files with gofmt
  internal/collector/accounts_simple.go
  internal/collector/efficiency_calculator.go
  internal/collector/jobs_simple.go
  internal/collector/partitions_simple.go
  internal/collector/reservation.go
  internal/testutil/fixtures/jobs.go
  internal/testutil/fixtures/nodes.go
  internal/testutil/generators.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Address code review feedback (11 bugs fixed) (#35)
  internal/collector/accounts_simple.go
  internal/collector/efficiency_calculator.go
  internal/collector/jobs_simple.go
  internal/collector/nodes_simple.go
  internal/collector/nodes_simple_test.go
  internal/collector/partitions_simple.go
  internal/collector/partitions_simple_test.go
  internal/collector/qos.go
  internal/collector/qos_test.go
  internal/collector/reservation.go
  internal/collector/system_simple.go
  internal/collector/system_simple_darwin.go
  internal/collector/system_simple_helpers_test.go
  internal/collector/system_simple_linux.go
  internal/collector/system_simple_windows.go
  internal/collector/users_simple.go
  internal/config/config.go
  internal/config/config_test.go
  internal/server/server.go
  internal/testutil/fixtures/jobs.go
  internal/testutil/fixtures/nodes.go
  internal/testutil/generators.go
Due: golangci-lint-fast, go-fmt, spdx-check

chore: Update .gitignore to exclude test scripts and artifacts
  .gitignore
Due: none

chore: Update .gitignore to exclude test scripts and artifacts (#36)
  .gitignore
Due: none

fix: Resolve integration test compilation errors and improve test quality
  test/integration/api_integration_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Address code review feedback - improve test safety and documentation
  test/integration/api_integration_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Upgrade Go to 1.24.13 to fix crypto/tls vulnerability (GO-2026-4337)
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/packages.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  go.mod
Due: go-mod-tidy

Path conditions:
  golangci-lint-fast: any of: \.go$
  go-fmt: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  spdx-check: any of: \.go$
