Repository JonTK/slurm-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fast, go-fmt, go-mod-tidy, spdx-check

golangci-lint-fast:
  name: golangci-lint (fast)
  entry: make lint-fast
  language: system
  pass_filenames: false

go-fmt:
  name: go fmt
  entry: gofmt -w
  language: system

go-mod-tidy:
  name: go mod tidy
  entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
  language: system
  pass_filenames: false

spdx-check:
  name: SPDX License Headers
  entry: bash -c 'scripts/check-spdx-headers.sh'
  language: system
  pass_filenames: false

fix: Resolve integration test compilation errors and improve test quality (#37)
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/packages.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
  go.mod
  test/integration/api_integration_test.go
Due: golangci-lint-fast, go-fmt, go-mod-tidy, spdx-check

feat: Upgrade slurm-client to v0.3.0 and verify with rocky9 cluster
  go.mod
  go.sum
Due: go-mod-tidy

feat: Upgrade slurm-client to v0.3.0 and verify with rocky9 cluster (#39)
  go.mod
  go.sum
Due: go-mod-tidy

docs: Remove profiling configuration (feature not implemented)
  docs/configuration.md
Due: none

docs: Remove profiling configuration (feature not implemented) (#40)
  docs/configuration.md
Due: none

chore: Prepare v0.3.0 release
  CHANGELOG.md
Due: none

chore: Prepare v0.3.0 release (#41)
  CHANGELOG.md
Due: none

docs: update version references to v0.3.0
  README.md
Due: none

ci: add integration tests workflow with mock and real SLURM
  .github/workflows/integration-tests.yml
Due: none

fix: upgrade k3d to v5.8.3 for Docker API 1.44 compatibility
  .github/workflows/integration-tests.yml
Due: none

fix: build mock SLURM API image inline to avoid GHCR auth issues
  .github/workflows/integration-tests.yml
Due: none

fix: use GITHUB_TOKEN to fetch mock server from private repo
  .github/workflows/integration-tests.yml
Due: none

fix: use public mock-slurm-api repository
  .github/workflows/integration-tests.yml
Due: none

fix: use official Dockerfile with SSL certificate generation
  .github/workflows/integration-tests.yml
Due: none

fix: update smoke test to use config file instead of CLI flags
  .github/workflows/integration-tests.yml
Due: none

feat: add user token authentication with X-SLURM-USER-NAME header
  internal/slurm/auth/auth.go
  internal/slurm/client.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: resolve CI failures from toolchain and security scanner incompatibilities
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/container.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

fix: remove standalone staticcheck (incompatible with Go 1.24.13)
  .github/workflows/ci.yml
  .github/workflows/security.yml
  .github/workflows/test.yml
Due: none

fix: skip Scorecard on PRs and remove stale branch-protection config
  .github/workflows/security.yml
Due: none

docs: comprehensive documentation cleanup and accuracy fixes
  CHANGELOG.md
  README.md
  SECURITY.md
  docker/README.md
  docs/configuration.md
  docs/installation.md
  docs/troubleshooting.md
  internal/collector/TEST_RESTORATION_STATUS.md
  internal/collector/fairshare_test.DISABLED.md
  test/integration/validation-report.md
  website/docs/advanced/tracing.md
  website/docs/api/index.md
  website/docs/getting-started/index.md
  website/docs/getting-started/installation.md
  website/docs/getting-started/quickstart.md
  website/docs/index.md
  website/docs/integration/grafana.md
  website/docs/integration/prometheus.md
  website/docs/user-guide/alerting.md
  website/docs/user-guide/configuration.md
  website/docs/user-guide/job-analytics.md
  website/docs/user-guide/metrics.md
  website/docs/user-guide/troubleshooting.md
Due: none

docs: remove fabricated features and fix remaining inaccuracies
  .goreleaser.yml
  charts/slurm-exporter/README.md
  dashboards/README.md
  deployment/production/README.md
  deployment/production/backup/README.md
  deployment/production/backup/disaster-recovery.yaml
  deployment/production/environments/development.yaml
  deployment/production/environments/production.yaml
  deployment/production/environments/staging.yaml
  deployment/production/incident-response/incident-types.yaml
  deployment/production/incident-response/playbooks.yaml
  deployment/production/kubernetes-ha/README.md
  deployment/production/kubernetes-ha/configmap.yaml
  deployment/production/kubernetes-ha/deployment.yaml
  deployment/production/performance/README.md
  deployment/production/runbooks/README.md
  deployment/production/runbooks/performance-slow.md
  deployment/production/runbooks/service-down.md
  deployment/production/security/secrets-management.yaml
  docs/metrics.md
  internal/metrics/docgen.go
  internal/metrics/metadata.go
  packaging/deb/config.yaml
  packaging/deb/slurm-exporter.1
  packaging/rpm/config.yaml
  packaging/rpm/slurm-exporter.1
  prometheus/README.md
  sandbox/README.md
  scripts/config-wizard.sh
  test/integration/api_integration_test.go
  test/integration/benchmark_test.go
  test/integration/docker-compose.mock.yml
  test/integration/mock-cluster-config.yaml
  test/integration/prometheus-mock.yml
  test/integration/rocky-cluster-config.yaml
  test/integration/rocky_cluster_test.go
  test/integration/run-integration-tests.sh
  test/integration/run-rocky-tests.sh
Due: golangci-lint-fast, go-fmt, spdx-check

ci: add integration tests workflow (#47)
  .github/workflows/integration-tests.yml
Due: none

fix: remove broken links to untracked docs files
  README.md
  dashboards/README.md
  docs/configuration.md
  docs/installation.md
Due: none

Path conditions:
  golangci-lint-fast: any of: \.go$
  go-fmt: any of: \.go$
  go-mod-tidy: any of: ^go\.(mod|sum)$
  spdx-check: any of: \.go$
