Repository JonTK/slurm-exporter: changes, and which pre-commit hooks are due for each by the changed paths.
All: golangci-lint-fast, go-fmt, go-mod-tidy, spdx-check

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: golangci-lint-fast
        name: golangci-lint (fast)
        entry: make lint-fast
        language: system
        types: [go]
        pass_filenames: false

      - id: go-fmt
        name: go fmt
        entry: gofmt -w
        language: system
        types: [go]

      - id: go-mod-tidy
        name: go mod tidy
        entry: bash -c 'go mod tidy && git diff --exit-code go.mod go.sum'
        language: system
        pass_filenames: false
        files: ^go\.(mod|sum)$

      - id: spdx-check
        name: SPDX License Headers
        entry: bash -c 'scripts/check-spdx-headers.sh'
        language: system
        types: [go]
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: (\.md$|\.patch$|\.diff$)
      - id: end-of-file-fixer
        exclude: (\.md$|\.svg$)
      - id: check-yaml
        args: ['--unsafe']  # Allow custom YAML tags
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: mixed-line-ending
        args: ['--fix=lf']

fix: Correct wrapcheck ignore-sigs configuration format
  .golangci.yml
  internal/collector/degradation.go
  internal/collector/interface.go
  internal/collector/scheduler.go
  internal/metrics/definitions.go
  internal/performance/profile_storage.go
  internal/server/server.go
  internal/testutil/file_utils.go
  internal/testutil/framework.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Add pragmatic ignore-sigs patterns for SLURM client external API
  .golangci.yml
Due: none

feat: Wrap internal interface method errors with context
  .golangci.yml
  internal/batch/batch_integration.go
  internal/collector/instrumented.go
  internal/collector/profiled_collector.go
  internal/performance/profiler.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Complete wrapcheck linter configuration - zero violations
  .golangci.yml
  internal/logging/logger.go
  internal/performance/metric_batcher.go
  internal/server/profiling_debug.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Update test to handle wrapped error in ProfiledCollector
  internal/collector/profiled_collector_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Enable wrapcheck linter and wrap/ignore errors pragmatically - Phase 7 Task 4 (#26)
  .golangci.yml
  internal/batch/batch_integration.go
  internal/collector/degraded_collector.go
  internal/collector/instrumented.go
  internal/collector/label_helper.go
  internal/collector/profiled_collector.go
  internal/collector/profiled_collector_test.go
  internal/logging/logger.go
  internal/performance/metric_batcher.go
  internal/performance/profiler.go
  internal/server/profiling_debug.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 8 - Tighten complexity thresholds and add pragmatic exclusions
  .golangci.yml
  internal/slurm/client.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 8 - Tighten complexity thresholds and add pragmatic exclusions (#27)
  .golangci.yml
  internal/slurm/client.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 9 - Final Refinement: Aggressive threshold tightening with pragmatic exclusions
  .golangci.yml
Due: none

feat: Phase 9 - Final Refinement: Aggressive threshold tightening with pragmatic exclusions (#29)
  .golangci.yml
Due: none

fix: Pin golangci-lint version to v2.8.0 in CI workflow for reproducibility
  .github/workflows/ci.yml
Due: none

feat: Phase 1 - Fix foundation issues and enhance testing infrastructure
  .mockery.yaml
  internal/collector/base_test.go
  internal/collector/registry_test.go
  internal/testutil/helpers.go
  internal/testutil/mocks/mock_ProfileStorage.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 2 - Extend simple collector tests with error handling
  internal/collector/system_simple_test.go
  internal/collector/wckeys_simple_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 2 - Add comprehensive config validation tests
  internal/config/config_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 2 - Add server package tests for profiling debug handler
  internal/server/profiling_debug_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 3 - Add comprehensive memory optimizer tests
  internal/performance/memory_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 3 - Add comprehensive cache manager and store tests
  internal/performance/cache_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 3 - Add comprehensive connection pool tests
  internal/performance/connection_pool_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 3 - Add comprehensive metric batcher tests
  internal/performance/metric_batcher_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 3 - Add comprehensive cardinality optimizer tests
  internal/performance/cardinality_optimizer_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Correct mock expectations in system_simple_test error cases
  internal/collector/system_simple_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Phase 4 - Add comprehensive performance monitor tests
  internal/collector/performance_monitor_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

test: Fix base_test configuration race condition and add job_performance_test
  internal/collector/base_test.go
  internal/collector/job_performance_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Resolve all CI linting issues
  internal/collector/base_test.go
  internal/performance/cardinality_optimizer_test.go
  internal/performance/connection_pool_test.go
  internal/performance/metric_batcher_test.go
  internal/testutil/helpers.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Remove staticcheck SA4003 violations - unsigned int >= 0 always true
  internal/performance/memory_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Pin golangci-lint to v2.8.0 consistently across all CI workflows
  .github/workflows/comprehensive-testing.yml
  .github/workflows/test.yml
Due: none

fix: Format Go files with gofmt
  internal/collector/base_test.go
  internal/collector/performance_monitor_test.go
  internal/collector/registry_test.go
  internal/performance/metric_batcher_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Fix race condition in TestMemoryOptimizer_ConcurrentOperations
  internal/performance/memory_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

test: Comprehensive testing infrastructure buildout - Phases 1-4
  .github/workflows/ci.yml
  .github/workflows/comprehensive-testing.yml
  .github/workflows/test.yml
  .mockery.yaml
  internal/collector/base_test.go
  internal/collector/job_performance_test.go
  internal/collector/performance_monitor_test.go
  internal/collector/registry_test.go
  internal/collector/system_simple_test.go
  internal/collector/wckeys_simple_test.go
  internal/config/config_test.go
  internal/performance/cache_test.go
  internal/performance/cardinality_optimizer_test.go
  internal/performance/connection_pool_test.go
  internal/performance/memory_test.go
  internal/performance/metric_batcher_test.go
  internal/server/profiling_debug_test.go
  internal/testutil/helpers.go
  internal/testutil/mocks/mock_ProfileStorage.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Add v0.0.44 SLURM API version support with auto-detection
  go.mod
  go.sum
  internal/config/config.go
  internal/slurm/client.go
Due: golangci-lint-fast, go-fmt, go-mod-tidy, spdx-check

fix: use upstream slurm-client v0.2.0 instead of local path
  go.mod
  go.sum
Due: go-mod-tidy

docs: Add comprehensive metrics gap analysis across all API versions
  docs/METRICS-GAP-ANALYSIS-COMPREHENSIVE.md
  docs/METRICS-GAP-ANALYSIS.md
  docs/METRICS-SPECIFICATION.md
  docs/VERSION-COVERAGE.md
  go.mod
  go.sum
  test/configs/test-config-v0043-local.yaml
Due: go-mod-tidy

test(metrics): comprehensive rebuild test of all versions with fixed slurm-client
  2
  get-slurm-token.sh
  test-adapter-integration.sh
  test-all-versions-comprehensive.sh
  test-all-versions.sh
  test-local-metrics.sh
  test-metrics-gaps.sh
  test/integration/adapter_autodetection_test.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix(collector): accept job Memory in bytes not MB
  internal/collector/jobs_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

feat: Implement missing metrics - slurm_job_submit_time and performance histograms
  internal/collector/jobs_simple.go
  internal/collector/performance_simple.go
  test/configs/test-config-v0044-local.yaml
Due: golangci-lint-fast, go-fmt, spdx-check

fix(v0.0.42): enable adapter pattern for SLURM client
  internal/slurm/client.go
Due: golangci-lint-fast, go-fmt, spdx-check

fix: Enable full collection of job metrics by adjusting cardinality sampling rate
  internal/metrics/cardinality.go
Due: golangci-lint-fast, go-fmt, spdx-check

style: Fix code formatting in job and performance collectors
  internal/collector/jobs_simple.go
Due: golangci-lint-fast, go-fmt, spdx-check

test: Add fresh token and v0.0.42 test configuration
  test/configs/test-config-v0042-local.yaml
  test/configs/test-config-v0044-local.yaml
Due: none

chore: Remove temporary analysis and test files from tracking
  docs/METRICS-GAP-ANALYSIS-COMPREHENSIVE.md
  docs/METRICS-GAP-ANALYSIS.md
  docs/METRICS-SPECIFICATION.md
  docs/VERSION-COVERAGE.md
  get-slurm-token.sh
  test-adapter-integration.sh
  test-all-versions-comprehensive.sh
  test-all-versions.sh
  test-local-metrics.sh
  test-metrics-gaps.sh
  test/configs/test-config-v0042-local.yaml
  test/configs/test-config-v0043-local.yaml
  test/configs/test-config-v0044-local.yaml
Due: none
